<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXvfhsrmZSzkDz7OKALfMkLQdDBdiwjqY</string>
	<key>GCM_SENDER_ID</key>
	<string>458283838700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecohub</string>
	<key>PROJECT_ID</key>
	<string>ecohub-332a8</string>
	<key>STORAGE_BUCKET</key>
	<string>ecohub-332a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458283838700:ios:8d03a62a04a01fe7d4c9c9</string>
</dict>
</plist>